<!DOCTYPE html>
<html>
  <head>
    <title>TAG't</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container ">
      <div class="row">
        <br>
        <a href="/"> <img href="/" class="span1" src="/images/logo1.jpg" alt=""></a>
        <p class="divider"></p>
        <div class="offset5">

        <p class="offset0">.............</p>
        <p href="/" class="lead">TAG'T</p>
      </div>
<div >

        <% if !user_exists? %>
      <h2 class="offset9 lead"> <a href="/new">Create Post!</a></h2>
      <h2 class="lead offset9"> <a href="/blogpage">Go to see some posts!</a></h2>
      <% else %>
      <h2 class="lead"> <a href="/new">Create Post!</a></h2>
      <h2 class="lead"> <a href="/blogpage">Go to see some posts!</a></h2>
      <% end %>
        <% if !user_exists? %>
    <p class="offset9 lead"> <small> <a href="/signup">Sign Up</a>  /  <a href="/login">Log In</a></p></small>
    <% else %>
    <p class="offset9 lead"> <small><a href="/logout" onClick="return confirm('Are you sure?')"> Logout</a></<a> Profile Page</a></p></small>
    <% end %>

  </div>

<div class="searchbar offset8">
          <form method="get" action="/search">
          <input class="lead" type="text" name="search" placeholder="Search for TAGS"></input>
        </form>
      </div>


    <%= yield %>
  </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js" type="text/javascript"></script>
  </body>
</html>
