<h2>Here is your profile <%= @user.user_name %>:</h2>
<a href="/logout">Log Out</a>
<a href="/profile/<%= @user.id %>/edit">Edit/Delete Profile</a>
<a href="/posts/new">Create Post!</a>
<a href="/users/blogpage">Go to see some posts!</a>
